.footer {
    height: 50px;
    padding: 4px 8px;

    &__container {
        position: relative;
        max-width: 1024px;
        margin: 0 auto;
    }

    &__text {
        width: 100%;
        text-align: right;
        font-size: 14px;
        color: white;
    }

    &__link {
        text-decoration: none;
    }

    &__link, 
    &__link:visited {
        color: white;
    }
}