.home {
    &__container {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 1024px; 
        margin: 0 auto;   
        text-align: center;
    }

    &__logo {
        height: auto;
        width: 250px;
    }

    &__text {
        margin: 4px 0;
    }
}